{
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
        "pragma": "React",
        "version": "detect"
    }
  },
  "rules": {
    "quotes": [
      "warn",
      "single"  
    ],
    "no-console": [
      "warn", {
        "allow": [ 
          "log"
        ]   
      }
    ]
  }
}