.navbar-brand {
  h1 {
    margin: 0;
    font-size: 1em;  
    color: #FFFFFF;
  }
}

.navbar-nav {
  li {
    &.nav-item {
      position: relative;

      a {
        &.nav-link {
          color: #FFFFFF;    
        }  
      }  
    }
  }  
}

div.sub-menu {
  right: 0;
  top: 47px;
  width: 200px;
  position: absolute;

  ul {
    padding: 0;
    list-style: none;
  }
}