{
  "extends": [
    "eslint:recommended"  
  ],
  "rules": {
    "quotes": [
      "warn",
      "single"  
    ],
    "no-console": [
      "warn", {
        "allow": [ 
          "log"
        ]   
      }
    ]
  }
}